<form class="auth-key js-form-auth" id="file">

    <h3>Центр сертифiкацii ключiв</h3>
    <select name="certificate" required>
        <option rel="default"></option>
        <option value="1">Lorem ipsum dolor 1</option>
        <option value="2">Lorem ipsum dolor 2</option>
        <option value="3">Lorem ipsum dolor 3</option>
    </select>

    <h3>Тип носiя</h3>
    <select name="type" required>
        <option rel="default"></option>
        <option value="1">Lorem ipsum dolor 1</option>
        <option value="2">Lorem ipsum dolor 2</option>
        <option value="3">Lorem ipsum dolor 3</option>
    </select>

    <h3>Назва носiя</h3>
    <select name="name" required>
        <option rel="default"></option>
        <option value="1">Lorem ipsum dolor 1</option>
        <option value="2">Lorem ipsum dolor 2</option>
        <option value="3">Lorem ipsum dolor 3</option>
    </select>

    <div class="auth-key__footer">
        <input type="password" required> 
        <button type="submit">Зчитаты ключ</button>
    </div>

</form>

<form class="auth-key js-form-auth" id="protected">

    <h3>Центр сертифiкацii ключiв</h3>
    <select name="certificate" required>
        <option rel="default"></option>
        <option value="1">Lorem ipsum dolor 1</option>
        <option value="2">Lorem ipsum dolor 2</option>
        <option value="3">Lorem ipsum dolor 3</option>
    </select>

    <div>
        <input type="file" placeholder="Оберiть файл">
    </div>

    <div class="auth-key__footer">
        <input type="password" required> 
        <button type="submit">Зчитаты ключ</button>
    </div>

</form>