{% set
formRoom = [
    {
        address: [
            {
                title: 'Регіон',
                selectName: 'region',
                options: [
                    {
                        title: 'Регіон 1'
                    },
                    {
                        title: 'Регіон 2'
                    },
                    {
                        title: 'Регіон 3'
                    }
                ]
            },
            {
                title: 'Район',
                selectName: 'region_district',
                options: [
                    {
                        title: 'Район 1'
                    },
                    {
                        title: 'Район 2'
                    },
                    {
                        title: 'Район 3'
                    }
                ]
            },
            {
                title: 'Об’єднана територіальна громада',
                selectName: 'united_community',
                options: [
                    {
                        title: 'Об’єднана територіальна громада 1'
                    },
                    {
                        title: 'Об’єднана територіальна громада 2'
                    },
                    {
                        title: 'Об’єднана територіальна громада 3'
                    }
                ]
            },
            {
                title: 'Міське поселення (місто, смт)',
                selectName: 'city',
                options: [
                    {
                        title: 'Міське поселення (місто, смт) 1'
                    },
                    {
                        title: 'Міське поселення (місто, смт) 2'
                    },
                    {
                        title: 'Міське поселення (місто, смт) 3'
                    }
                ]
            },
            {
                title: 'Район міста',
                selectName: 'city_district',
                options: [
                    {
                        title: 'Район міста 1'
                    },
                    {
                        title: 'Район міста 2'
                    },
                    {
                        title: 'Район міста 3'
                    }
                ]
            },
            {
                title: 'Сільська рада',
                selectName: 'village_council',
                options: [
                    {
                        title: 'Сільська рада 1'
                    },
                    {
                        title: 'Сільська рада 2'
                    },
                    {
                        title: 'Сільська рада 3'
                    }
                ]
            },
            {
                title: 'Сільський населений пункт',
                selectName: 'village',
                options: [
                    {
                        title: 'Сільський населений пункт 1'
                    },
                    {
                        title: 'Сільський населений пункт 2'
                    },
                    {
                        title: 'Сільський населений пункт 3'
                    }
                ]
            },
            {
                title: 'Тип елементу вулично-дорожньої мережі',
                selectName: 'road_network_type',
                options: [
                    {
                        title: 'Тип елементу вулично-дорожньої мережі 1'
                    },
                    {
                        title: 'Тип елементу вулично-дорожньої мережі 2'
                    },
                    {
                        title: 'Тип елементу вулично-дорожньої мережі 3'
                    }
                ]
            },
            {
                title: 'Назва вулиці тощо',
                selectName: 'street',
                options: [
                    {
                        title: 'Назва вулиці тощо 1'
                    },
                    {
                        title: 'Назва вулиці тощо 2'
                    },
                    {
                        title: 'Назва вулиці тощо 3'
                    }
                ]
            }
        ],
        buildingType: [
            {
                title: 'квартира в дво- або багатоквартирному будинку',
                children: [
                    {
                        id: 'building-type-02',
                        title: 'окрема квартира',
                        value: '02'
                    },
                    {
                        id: 'building-type-03',
                        title: 'комунальна квартира',
                        value: '03'
                    }
                ]
            },
            {
                title: 'квартира в нежитловій будівлі',
                children: [
                    {
                        id: 'building-type-05',
                        title: 'окрема квартира',
                        value: '05'
                    },
                    {
                        id: 'building-type-06',
                        title: 'комунальна квартира',
                        value: '06'
                    }
                ]
            },
            {
                title: 'одноквартирний будинок (індивідуальний)',
                id: 'building-type-07',
                value: '07'
            },
            {
                title: 'частина одноквартирного будинку (індивідуального)',
                id: 'building-type-08',
                value: '08'
            },
            {
                title: 'кімната (частина кімнати) у гуртожитку',
                id: 'building-type-09',
                value: '09'
            },
            {
                title: 'кімната (частина кімнати) у готелі',
                id: 'building-type-10',
                value: '10'
            },
            {
                title: 'установа із рухомим складом населення, окрім готелю (заклад охорони здоров’я, санаторно˗курортний заклад, будинок відпочинку тощо)',
                id: 'building-type-11',
                value: '11',
                input: 'rollingstock_building_type'
            },
            {
                title: 'інше житлове приміщення',
                id: 'building-type-12',
                value: '12',
                input: 'building_type_аnother'
            }
        ],
        waterSupply: [
            {
                title: 'водопровід централізований (із комунальної системи водопостачання)',
                id: 'water-supply-02',
                value: '02'
            },
            {
                title: 'водопровід локальний (автономний, індивідуальна система)',
                id: 'water-supply-03',
                value: '03'
            },
            {
                title: 'водопровід поза житловим приміщенням (колонка)',
                id: 'water-supply-04',
                value: '04'
            },
            {
                title: 'колодязь, криниця, інший вид водопостачання',
                id: 'water-supply-05',
                value: '05'
            },
            {
                title: 'водопостачання відсутне',
                id: 'water-supply-06',
                value: '06'
            },
            {
                title: 'не вказали вид водопостачання',
                id: 'water-supply-07',
                value: '07'
            }
        ],
        toilet: [
            {
                title: 'зі змивом у житловому приміщенні',
                id: 'toilet-09',
                value: '09'
            },
            {
                title: 'іншого типу в житловому приміщенні (включаючи біотуалет)',
                id: 'toilet-10',
                value: '10'
            },
            {
                title: 'поза житловим приміщенням',
                children: [
                    {
                        id: 'toilet-13',
                        title: 'так',
                        value: '13'
                    },
                    {
                        id: 'toilet-14',
                        title: 'нi',
                        value: '14'
                    },
                    {
                        id: 'toilet-15',
                        title: 'не вказали чи користуєтесь Ви цим туалетом разом з іншими домогосподарствами',
                        value: '15'
                    }
                ]
            },
            {
                title: 'туалет відсутній',
                id: 'toilet-16',
                value: '16'
            }
        ]
    }
]
%}