{% set
formRoom = [
    {
        address: [
            {
                title: 'Регіон',
                selectName: 'region',
                options: [
                    {
                        title: 'Регіон 1'
                    },
                    {
                        title: 'Регіон 2'
                    },
                    {
                        title: 'Регіон 3'
                    }
                ]
            },
            {
                title: 'Район',
                selectName: 'region_district',
                options: [
                    {
                        title: 'Район 1'
                    },
                    {
                        title: 'Район 2'
                    },
                    {
                        title: 'Район 3'
                    }
                ]
            },
            {
                title: 'Об’єднана територіальна громада',
                selectName: 'united_community',
                options: [
                    {
                        title: 'Об’єднана територіальна громада 1'
                    },
                    {
                        title: 'Об’єднана територіальна громада 2'
                    },
                    {
                        title: 'Об’єднана територіальна громада 3'
                    }
                ]
            },
            {
                title: 'Міське поселення (місто, смт)',
                selectName: 'city',
                options: [
                    {
                        title: 'Міське поселення (місто, смт) 1'
                    },
                    {
                        title: 'Міське поселення (місто, смт) 2'
                    },
                    {
                        title: 'Міське поселення (місто, смт) 3'
                    }
                ]
            },
            {
                title: 'Район міста',
                selectName: 'city_district',
                options: [
                    {
                        title: 'Район міста 1'
                    },
                    {
                        title: 'Район міста 2'
                    },
                    {
                        title: 'Район міста 3'
                    }
                ]
            },
            {
                title: 'Сільська рада',
                selectName: 'village_council',
                options: [
                    {
                        title: 'Сільська рада 1'
                    },
                    {
                        title: 'Сільська рада 2'
                    },
                    {
                        title: 'Сільська рада 3'
                    }
                ]
            },
            {
                title: 'Сільський населений пункт',
                selectName: 'village',
                options: [
                    {
                        title: 'Сільський населений пункт 1'
                    },
                    {
                        title: 'Сільський населений пункт 2'
                    },
                    {
                        title: 'Сільський населений пункт 3'
                    }
                ]
            },
            {
                title: 'Тип елементу вулично-дорожньої мережі',
                selectName: 'road_network_type',
                options: [
                    {
                        title: 'Тип елементу вулично-дорожньої мережі 1'
                    },
                    {
                        title: 'Тип елементу вулично-дорожньої мережі 2'
                    },
                    {
                        title: 'Тип елементу вулично-дорожньої мережі 3'
                    }
                ]
            },
            {
                title: 'Назва вулиці тощо',
                selectName: 'street',
                options: [
                    {
                        title: 'Назва вулиці тощо 1'
                    },
                    {
                        title: 'Назва вулиці тощо 2'
                    },
                    {
                        title: 'Назва вулиці тощо 3'
                    }
                ]
            }
        ],
        buildingType: [
            {
                title: 'квартира в дво- або багатоквартирному будинку',
                children: [
                    {
                        id: 'building-type-02',
                        title: 'окрема квартира',
                        value: '02'
                    },
                    {
                        id: 'building-type-03',
                        title: 'комунальна квартира',
                        value: '03'
                    }
                ]
            },
            {
                title: 'квартира в нежитловій будівлі',
                children: [
                    {
                        id: 'building-type-05',
                        title: 'окрема квартира',
                        value: '05'
                    },
                    {
                        id: 'building-type-06',
                        title: 'комунальна квартира',
                        value: '06'
                    }
                ]
            },
            {
                title: 'одноквартирний будинок (індивідуальний)',
                id: 'building-type-07',
                value: '07'
            },
            {
                title: 'частина одноквартирного будинку (індивідуального)',
                id: 'building-type-08',
                value: '08'
            },
            {
                title: 'кімната (частина кімнати) у гуртожитку',
                id: 'building-type-09',
                value: '09'
            },
            {
                title: 'кімната (частина кімнати) у готелі',
                id: 'building-type-10',
                value: '10'
            },
            {
                title: 'установа із рухомим складом населення, окрім готелю (заклад охорони здоров’я, санаторно˗курортний заклад, будинок відпочинку тощо)',
                id: 'building-type-11',
                value: '11',
                input: 'rollingstock_building_type'
            },
            {
                title: 'інше житлове приміщення',
                id: 'building-type-12',
                value: '12',
                input: 'building_type_аnother'
            }
        ],
        waterSupply: [
            {
                title: 'водопровід централізований (із комунальної системи водопостачання)',
                id: 'water-supply-02',
                value: '02'
            },
            {
                title: 'водопровід локальний (автономний, індивідуальна система)',
                id: 'water-supply-03',
                value: '03'
            },
            {
                title: 'водопровід поза житловим приміщенням (колонка)',
                id: 'water-supply-04',
                value: '04'
            },
            {
                title: 'колодязь, криниця, інший вид водопостачання',
                id: 'water-supply-05',
                value: '05'
            },
            {
                title: 'водопостачання відсутне',
                id: 'water-supply-06',
                value: '06'
            },
            {
                title: 'не вказали вид водопостачання',
                id: 'water-supply-07',
                value: '07'
            }
        ],
        toilet: [
            {
                title: 'зі змивом у житловому приміщенні',
                id: 'toilet-09',
                value: '09'
            },
            {
                title: 'іншого типу в житловому приміщенні (включаючи біотуалет)',
                id: 'toilet-10',
                value: '10'
            },
            {
                title: 'поза житловим приміщенням',
                children: [
                    {
                        id: 'toilet-13',
                        title: 'так',
                        value: '13'
                    },
                    {
                        id: 'toilet-14',
                        title: 'нi',
                        value: '14'
                    },
                    {
                        id: 'toilet-15',
                        title: 'не вказали чи користуєтесь Ви цим туалетом разом з іншими домогосподарствами',
                        value: '15'
                    }
                ]
            },
            {
                title: 'туалет відсутній',
                id: 'toilet-16',
                value: '16'
            }
        ],
        bath: [
            {
                title: 'у житловому приміщенні',
                id: 'bath-19',
                value: '19'
            },
            {
                title: 'поза житловим приміщенням',
                id: 'bath-20',
                value: '20'
            },
            {
                title: 'лазня, сауна',
                id: 'bath-21',
                value: '21'
            },
            {
                title: 'ванна, душ, лазня, сауна відсутні',
                id: 'bath-22',
                value: '22'
            },
            {
                title: 'не вказали Ванна та (або) душ',
                id: 'bath-23',
                value: '23'
            }
        ],
        hotWaterSupply: [
            {
                title: 'централізоване',
                id: 'hot-water-supply-25',
                value: '25'
            },
            {
                title: 'від індивідуальних водонагрівачів',
                id: 'hot-water-supply-26',
                value: '26'
            },
            {
                title: 'відсутнє',
                id: 'hot-water-supply-27',
                value: '27'
            },
            {
                title: 'не вказали вид гарячого водопостачання',
                id: 'hot-water-supply-28',
                value: '28'
            }
        ],
        sewage: [
            {
                title: 'централізоване (видалення стічних вод по трубах у комунальну каналізаційну систему)',
                id: 'sewage-30',
                value: '30'
            },
            {
                title: 'локальне (індивідуальна) (видалення стічних вод по трубах у локальну (індивідуальну) каналізаційну систему (септик))',
                id: 'sewage-31',
                value: '31'
            },
            {
                title: 'інші системи видалення стічних вод (у відкриті ями, колодязі, вигрібні ями, річку, море тощо)',
                id: 'sewage-32',
                value: '32'
            },
            {
                title: 'система каналізації відсутня',
                id: 'sewage-33',
                value: '33'
            },
            {
                title: 'не вказали вид водовідведення (каналізації)',
                id: 'sewage-34',
                value: '34'
            }
        ],
        kitchen: [
            {
                title: 'у житловому приміщенні',
                id: 'kitchen-36',
                value: '36'
            },
            {
                title: 'в окремій будівлі',
                id: 'kitchen-37',
                value: '37'
            },
            {
                title: 'відсутня',
                id: 'kitchen-38',
                value: '38'
            },
            {
                title: 'не вказали вид кухні або кухонного кутка',
                id: 'kitchen-39',
                value: '39'
            }
        ],
        heating: [
            {
                title: 'центральне',
                id: 'heating-41',
                value: '41'
            },
            {
                title: 'від індивідуальних установок, котлів',
                id: 'heating-42',
                value: '42'
            },
            {
                title: 'від індивідуальних електрообігрівачів, спліт˗систем',
                id: 'heating-43',
                value: '43'
            },
            {
                title: 'пічне',
                id: 'heating-44',
                value: '44'
            },
            {
                title: 'відсутнє',
                id: 'heating-45',
                value: '45'
            },
            {
                title: 'не вказали вид опалення',
                id: 'heating-46',
                value: '46'
            }
        ],
        electricitySupply: [
            {
                title: 'так',
                id: 'electricity-supply-48',
                value: '48'
            },
            {
                title: 'нi',
                id: 'electricity-supply-49',
                value: '49'
            },
            {
                title: 'не вказали чи є електропостачання',
                id: 'electricity-supply-50',
                value: '50'
            }
        ],
        electricStove: [
            {
                title: 'так',
                id: 'electric-stove-52',
                value: '52'
            },
            {
                title: 'нi',
                id: 'electric-stove-53',
                value: '53'
            },
            {
                title: 'не вказали чи є електрична плита стаціонарна',
                id: 'electric-stove-54',
                value: '54'
            } 
        ],
        gas: [
            {
                title: 'природний мережевий',
                id: 'gas-56',
                value: '56'
            },
            {
                title: 'скраплений (балони)',
                id: 'gas-57',
                value: '57'
            },
            {
                title: 'відсутній',
                id: 'gas-58',
                value: '58'
            },
            {
                title: 'не вказали вид газу',
                id: 'gas-59',
                value: '59'
            }
        ],
        garbage: [
            {
                title: 'сміттєпровід',
                id: 'garbage-61',
                value: '61'
            },
            {
                title: 'сміттєзбірники поза будинком',
                id: 'garbage-62',
                value: '62'
            },
            {
                title: 'збирання сміття спецмашиною',
                id: 'garbage-63',
                value: '63'
            },
            {
                title: 'викидання сміття в ями, на купи і т.ін.',
                id: 'garbage-64',
                value: '64'
            },
            {
                title: 'інше',
                id: 'garbage-65',
                value: '65',
                input: 'garbage_аnother'
            },
            {
                title: 'не вказали вид видалення побутових відходів',
                id: 'garbage-66',
                value: '66'
            }
        ],
        сonstructionBuildingTime: [
            {
                title: 'до 1919 року',
                id: 'сonstruction-building-time-01',
                value: '01'
            },
            {
                title: 'у 1919 – 1945 роках',
                id: 'сonstruction-building-time-02',
                value: '02'
            },
            {
                title: 'у 1946 – 1960 роках',
                id: 'сonstruction-building-time-03',
                value: '03'
            },
            {
                title: 'у 1961 – 1970 роках',
                id: 'сonstruction-building-time-04',
                value: '04'
            },
            {
                title: 'у 1971 – 1980 роках',
                id: 'сonstruction-building-time-05',
                value: '05'
            },
            {
                title: 'у 1981 – 1990 роках',
                id: 'сonstruction-building-time-06',
                value: '06'
            },
            {
                title: 'у 1991 – 2000 роках',
                id: 'сonstruction-building-time-07',
                value: '07'
            },
            {
                title: 'у 2001 – 2010 роках',
                id: 'сonstruction-building-time-08',
                value: '08'
            },
            {
                title: 'у 2011 – 2020 роках',
                id: 'сonstruction-building-time-09',
                value: '09'
            },
            {
                title: 'недобудований житловий будинок',
                id: 'сonstruction-building-time-10',
                value: '10'
            },
            {
                title: 'точно не знаю, але до 1946 року',
                id: 'сonstruction-building-time-11',
                value: '11'
            },
            {
                title: 'точно не знаю, але у 1946 – 1990 роках',
                id: 'сonstruction-building-time-12',
                value: '12'
            },
            {
                title: 'точно не знаю, але у 1991 році або пізніше',
                id: 'сonstruction-building-time-13',
                value: '13'
            },
            {
                title: 'не знаю',
                id: 'сonstruction-building-time-14',
                value: '14'
            },
            {
                title: 'не вказали період побудови будівлі',
                id: 'сonstruction-building-time-15',
                value: '15'
            }
        ],
        wallsMaterial: [
            {
                title: 'цегла, камінь',
                id: 'walls-material-01',
                value: '01'
            },
            {
                title: 'панель, блок',
                id: 'walls-material-02',
                value: '02'
            },
            {
                title: 'дерево',
                id: 'walls-material-03',
                value: '03'
            },
            {
                title: 'моноліт',
                id: 'walls-material-04',
                value: '04'
            },
            {
                title: 'інші змішані матеріали',
                id: 'walls-material-05',
                value: '05'
            },
            {
                title: 'інше',
                id: 'walls-material-06',
                value: '06'
            },
            {
                title: 'не знаю',
                id: 'walls-material-07',
                value: '07'
            },
            {
                title: 'не вказали матеріал зовнішніх стін будівлі',
                id: 'walls-material-08',
                value: '08'
            }
        ]
    }
]
%}