.form-room
  display: none
  position: absolute
  top: 80px
  left: 50%
  transform: translateX(-50%)
  z-index: 10
  &.is-show
    display: block
  &__title
    font-size: 18px
    text-align: center
    margin-bottom: 20px
  &__subtitle
    font-size: 16px
    font-weight: 400
    margin-bottom: 2px
    
  &__btn
    display: flex
    justify-content: center
  &__row
    display: flex
    align-items: center
    margin-bottom: 15px
    &-unit
        display: flex 
        sup 
            font-size: 10px 
  &__col
    display: flex
    flex-direction: column
    margin-bottom: 15px
    