.tabs
	&__nav-title
		display: flex
		flex-wrap: wrap
		width: 100%
		margin: 0
		list-style-type: none
		border-bottom: 1px solid #ddd
		& li 
			margin-right: 2px
			margin-bottom: 2px
			a
				display: inline-block
				padding: 10px
				background-color: #efefef
				color: black
		& li.is-active a
			background-color: #de7373


	&__contents
		display: flex
		flex-direction: column

	&__content 
		display: none
		&.is-active 
			display: block
			padding: 20px
			width: 100%
			min-height: 660px
			background-color: #efefef

	&__btns-nav
		display: flex
		justify-content: space-between